


//Inicio del banner
.banner
	div.lema
		h1 Ispade Cursos
		p  Lorem ipsum dolor sit amet, consectetur adipisicing elit. Reprehenderit culpa mollitia.
		a(href="#") Ver todos 
		p.fono Teléfonos: 2232029/ 2232030/ 2232031



//Fin del banner