footer
	.grupo
		.direccion.caja.tablet-50
			h3 ISPADE
			ul
				li:	Dirección: Calle Upiano Paez y Av. la Patria
				li:	Teléfonos: 2232029/ 2232030/ 2232031
				li  Web Oficial: 
					a( href="http://www.ispade.edu.ec" target="_blank") www.ispade.edu.ec
					img(src="favicon.ico", alt="")
		.redes.caja.tablet-50
			h3 Síguenos			
			a(href="http://facebook.com" target="_blank").icon-facebook
			a(href="http://twitter.com" target="_blank").icon-twitter
			a(href="http://youtube.com" target="_blank").icon-youtube

		.derechos.caja.total
			p © 2015 ispade. Todos los derechos reservados
			p Desarrollado por 
				a(href="https://www.facebook.com/edwin.ramirez.923") Edwin Ramírez

				

