//Inicio header
header
	.header

		.logo
			a(href="#")
				img(src="img/logo.png", alt="logo Ispade Cursos")
		
		div(href="#").icon-menu

					
		nav.menu(role="navegation")

			ul
				li: a(href="#") 
						span(class="icon-home")
						| Inicio
					

				li
					a(href="#")
						span(class="icon-cursos")
						| Cursos
					ul
						li: a(href="#") Diseño web
						li: a(href="#") Ofimática
						li: a(href="#") Administración
						li: a(href="#") Programación
						li: a(href="#") Computación
				li: a(href="#") 
						span(class="icon-users")
						| Nosotros

				li: a(href="#")
						span(class="icon-mail")
						|  Contactenos

//Fin del header			
