<!DOCTYPE html>
html(lang="es")
	head
		meta(charset="UTF-8")
		//Los caracteres visibles seran 60 en google
		title Ispade Cursos | Los Mejores Cursos Gratis en Quito| Cursos Presenciales
		
		//description de la pagina
		meta(name="description" content="Cursos Gratis en Quito. Los mejores Cursos presenciales los encuentras en Ispade. Si te encuentras en Quito toma estos Cursos tomalmente Gratis")
		
		//para poner el autor de la web 
		meta(name="author" content="Edwin Ramírez ")
		link(type="text/plain" rel="author" href="http://ispadecursos.hol.es/humans.txt")

		// CSS Para todos los navegadores
		link(rel='stylesheet', href='css/style.css')

		// meta viewport para responsive
		meta(name="viewport", content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0")
		
		//fuentes
		<link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>


		<!--[if (lt IE 9) & (!IEMobile)]>
		<link rel="stylesheet" href="css/lt-ie9.css">
		<![endif]-->

		<!--[if lt IE 9]> 
		<script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> 
		<![endif]-->

		//Iconos
		// 16x16
		link(rel='shortcut icon', href='favicon.ico')

		// 32x32
		link(rel='shortcut icon', href='favicon.png')

		// 57x57 (precomposed) for iPhone 3GS, pre-2011 iPod Touch and older Android devices
		link(rel='apple-touch-icon-precomposed', href='img/apple-touch-icon-precomposed.png')

		// 72x72 (precomposed) for 1st generation iPad, iPad 2 and iPad mini
		link(rel='apple-touch-icon-precomposed', sizes='72x72', href='img/apple-touch-icon-72x72-precomposed.png')

		// 114x114 (precomposed) for iPhone 4, 4S, 5 and post-2011 iPod Touch
		link(rel='apple-touch-icon-precomposed', sizes='114x114', href='img/apple-touch-icon-114x114-precomposed.png')

		// 144x144 (precomposed) for iPad 3rd and 4th generation
		link(rel='apple-touch-icon-precomposed', sizes='144x144', href='img/apple-touch-icon-144x144-precomposed.png')

		// Windows 8 / RT http://bit.ly/HHkt7m
		meta(name='msapplication-TileImage', content='img/apple-touch-icon-144x144-precomposed.png')
		| &#x9;
		meta(name='msapplication-TileColor', content='#000')
		| &#x9;
		meta(http-equiv='cleartype', content='on')

	body

		include header
		include banner 
		include main
		include footer

		



		//jquery
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js")
		//menu
		script(src="js/menu.js")
		//Analytics
		script(src="js/analytics.js")
