//inicio del main
section.main(role="main")
	.cursos
		h2.cursos__title__main Próximos Cursos

		article.cursos__items

			a(href="#"): h2.cursos__title Diseño web

			figure.cursos__thumbnails
				a(href="#"): img(src="img/html-css.png", alt="")

			.cursos__info
				
				p.cursos__info__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos vitae minima, neque voluptatibus magni.  sequi?  Lorem ipsum dolor sit amet, 
				a.cursos__info__button(href="#"): span Inscríbete
				
			.cursos__info__meta
				a(href="#"): small.cursos__info__meta__author Profesor: Edwin Ramirez 
				a(href="#"): small.cursos__info__meta__date Inicio: 01 de abril 2015
			
			ul.cursos__info__category
				li: a(href="#"): small.cursos__info__category__links Categoria,
				li: a(href="#"): small.cursos__info__category__links Admnistracion,
				li: a(href="#"): small.cursos__info__category__links Matematicas,
		article.cursos__items

			a(href="#"): h2.cursos__title Computación Básica

			figure.cursos__thumbnails
				a(href="#"): img(src="img/compu-basic.png", alt="")

			.cursos__info
				
				p.cursos__info__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos vitae minima, neque voluptatibus magni.  sequi?
				a.cursos__info__button(href="#"): span Inscríbete
				
			.cursos__info__meta
					a(href="#"): small.cursos__info__meta__author Profesor: Edwin Ramirez 
					a(href="#"): small.cursos__info__meta__date Inicio: 01 de abril 2015
			
			ul.cursos__info__category
				li: a(href="#"): small.cursos__info__category__links Categoria,
				li: a(href="#"): small.cursos__info__category__links Admnistracion,
				li: a(href="#"): small.cursos__info__category__links Matematicas,
		

		article.cursos__items

			a(href="#"): h2.cursos__title Word

			figure.cursos__thumbnails
				a(href="#"): img(src="img/word.png", alt="")

			.cursos__info
				
				p.cursos__info__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos vitae minima, neque voluptatibus magni.  sequi?
				a.cursos__info__button(href="#"): span Inscríbete
				
			.cursos__info__meta
				a(href="#"): small.cursos__info__meta__author Profesor: Edwin Ramirez 
				a(href="#"): small.cursos__info__meta__date Inicio: 01 de abril 2015
				
			ul.cursos__info__category
				li: a(href="#"): small.cursos__info__category__links Categoria,
				li: a(href="#"): small.cursos__info__category__links Admnistracion,
				li: a(href="#"): small.cursos__info__category__links Matematicas,

		article.cursos__items

			a(href="#"): h2.cursos__title Excel

			figure.cursos__thumbnails
				a(href="#"): img(src="img/excel.png", alt="")

			.cursos__info
				
				p.cursos__info__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos vitae minima, neque voluptatibus magni.  sequi? accusantium, possimus mollitia eveniet recusandae.
				a.cursos__info__button(href="#"): span Inscríbete
			
			.cursos__info__meta
				a(href="#"): small.cursos__info__meta__author Profesor: Edwin Ramirez 
				a(href="#"): small.cursos__info__meta__date Inicio: 01 de abril 2015
			
			ul.cursos__info__category
				li: a(href="#"): small.cursos__info__category__links Categoria,
				li: a(href="#"): small.cursos__info__category__links Admnistracion,
				li: a(href="#"): small.cursos__info__category__links Matematicas,

		article.cursos__items

			a(href="#"): h2.cursos__title Power Point

			figure.cursos__thumbnails
				a(href="#"): img(src="img/powerpoint.png", alt="")

			.cursos__info
				
				p.cursos__info__description  Lorem ipsum dolor sit amet, consectetur adipisicing elit. In quos vitae minima, neque voluptatibus magni.  sequi?
				a.cursos__info__button(href="#"): span Inscríbete
			
			.cursos__info__meta
				a(href="#"): small.cursos__info__meta__author Profesor: Edwin Ramirez 
				a(href="#"): small.cursos__info__meta__date Inicio: 01 de abril 2015
			
			ul.cursos__info__category
				li: a(href="#"): small.cursos__info__category__links Categoria,
				li: a(href="#"): small.cursos__info__category__links Admnistracion,
				li: a(href="#"): small.cursos__info__category__links Matematicas,

//Fin del main